
@{
    ViewBag.Title = "Detail";
}



<div class="row">
    <div class="col-md-3 col-sm-6">
        商品主圖
    </div>
    <div class="col-md-3 col-sm-6">
        商品介紹
    </div>
</div>
<div class="row">
    同系列產品
</div>
